<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProgramConfig" type="SuperLobbyTool.ProgramConfigSection,Super Lobby Tool" />
  </configSections>
  <ProgramConfig>
    <HostOptions SkipLobbySearch="true" DisableMirrorTracks="false" />
    <Banlist Enabled="true">
      <Players>
        <clear />
        <Entry Name="Andromeda" SteamId="76561198096102707" Enabled="true" />
        <Entry Name="Sonic Hedgehog" SteamId="76561198133995675" Enabled="true" />
        <Entry Name="Deffes TheFather" SteamId="76561198367716672" Enabled="true" />
        <Entry Name="Deffes The Son" SteamId="76561198196974367" Enabled="true" />
        <Entry Name="Deffes Yesi-ka" SteamId="76561198368220504" Enabled="true" />
        <Entry Name="ThG7" SteamId="76561198367833895" Enabled="true" />
        <Entry Name="Lighthope" SteamId="76561198183794437" Enabled="true" />
        <Entry Name="Amy Rose HD" SteamId="76561198059610966" Enabled="true" />
        <Entry Name="dyingsl0wly" SteamId="76561198199712955" Enabled="true" />
        <Entry Name="Jessem" SteamId="76561198448270844" Enabled="true" />
        <Entry Name="ImXixis" SteamId="76561198345572233" Enabled="true" />
        <Entry Name="swindle&amp;unauthorizedtheft" SteamId="76561198114585915"
          Enabled="true" />
        <Entry Name="AbdulWahab" SteamId="76561198822569339" Enabled="true" />
        <Entry Name="Dat Hero Luka" SteamId="76561198026029613" Enabled="true" />
        <Entry Name="TowardsTheFutureBitches" SteamId="76561198155623574"
          Enabled="true" />
        <Entry Name="sweet8m99" SteamId="76561198452140677" Enabled="true" />
        <Entry Name="Jonahnator" SteamId="76561198082341552" Enabled="true" />
        <Entry Name="Chaco_Bamba" SteamId="76561198005434672" Enabled="true" />
        <Entry Name="YogSothoth" SteamId="76561198030843417" Enabled="true" />
        <Entry Name="WISPARTAN" SteamId="76561198124399222" Enabled="true" />
        <Entry Name="Anthrospira" SteamId="76561198115332428" Enabled="true" />
      </Players>
    </Banlist>
    <Whitelist Enabled="false" />
    <Overlay Enabled="true">
      <Position X="5" Y="5" />
      <Background Enabled="true" Colour="128, 0, 255" Opacity="100" />
      <Fonts Header="Lucida Sans Unicode, 26.25pt, style=Bold" Data="Courier New, 21.75pt, style=Bold" />
      <Columns>
        <ColumnList>
          <Column Enabled="true" Width="0" Data="LobbyInfo" ShowHeader="true"
            HeaderColour="Red" DataColour="Yellow" />
          <Column Enabled="true" Width="0" Data="Name" ShowHeader="true"
            HeaderColour="Red" DataColour="Yellow" />
          <Column Enabled="true" Width="0" Data="Character" ShowHeader="true"
            HeaderColour="Red" DataColour="Yellow" />
          <Column Enabled="true" Width="0" Data="Rating" ShowHeader="true"
            HeaderColour="Red" DataColour="Yellow" />
          <Column Enabled="true" Width="0" Data="Position" ShowHeader="true"
            HeaderColour="Red" DataColour="Yellow" />
          <Column Enabled="true" Width="0" Data="Ping" ShowHeader="true"
            HeaderColour="Red" DataColour="Yellow" />
        </ColumnList>
        <Additional>
          <LobbyInfo ShortNames="false">
            <Basic Id="false" Type="false" Host="true" PlayerCount="true" />
            <MatchMode Event="true" Track="true" Difficulty="true" />
          </LobbyInfo>
          <PlayerName ShortNames="false" />
          <Character ShortNames="false" />
        </Additional>
      </Columns>
    </Overlay>
  </ProgramConfig>
</configuration>
